<div class="jumbotron text-center">
  <h1>Welcome to Simple List!</h1>
  <p>Simple list is a simple app that allows you to create a list and access it from any device.  You can make it a to-do list, a grocery list or really anything else that you want.</p>
</div>

<div class="container">
  <p class="lead"> Please Log in </p>
  <hr>
  <div>
    <%= form_tag login_path, class: "form-horizontal" do %>
      <div class="form-group">
        <%= label_tag :user, "Username", class: "col-sm-2 col-sm-offset-2 control-label" %>
        <div class="col-sm-6">
          <%= text_field_tag :user, params[:user] || "", class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag :password, "Password", class: "col-sm-2 col-sm-offset-2 control-label" %>
        <div class="col-sm-6">
          <%= password_field_tag :password, params[:password] || "", class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-10">
          <%= submit_tag "Login", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>

  <hr>

  <h3 class="text-center">New user?</h3>
  <%= button_to "Register", register_path, class: "btn btn-success center-block", method: :get %>
  <!-- <button class="btn btn-success center-block">Register</button> -->

</div>