<div class="container">

  <% if @items.size > 0 %>

    <h3>Your list</h3>
    <hr>
    <div class="table-responsive">
      <table class="table table-striped sortable">
        <tr>
          <th></th>
          <th>Description</th>
          <th>Priority</th>
          <th>Due</th>
        </tr>
        <% @items.each do |i| %>
          <tr>
            <td>
              <%= link_to toggle_complete_user_item_path(current_user, i, completed: :true), method: :post do %>
                <span class="glyphicon glyphicon-unchecked glyphicon-align-right" aria-hidden="true"></span>
              <% end %>
            </td>
            <td><%= link_to i.description, user_item_path(current_user, i) %></td>
            <td><%= i.priority %></td>
            <td><%= i.due_date %></td>
          </tr>
        <% end %>
      </table>
    </div>

  <% else %>

    <h3 class="text-center">You don't have anything in your list yet.</h3>
    <p class="text-center">Click the "New Item" button above to get started.</p>

  <% end %>


  <% if @completed_items.size > 0 %>

    <hr>

    <h5 class="completed">Completed Items...</h5>
    <div class="table-responsive">
      <table class="table table-striped">
        <% @completed_items.each do |i| %>
          <tr>
            <td>
              <%= link_to toggle_complete_user_item_path(current_user, i, completed: :false), class: "completed", method: :post do %>
                <span class="glyphicon glyphicon-check glyphicon-align-right" aria-hidden="true"></span>
              <% end %>
            </td>
            <td class="completed"><%= i.description %></td>
            <td class="completed"><%= i.priority %></td>
            <td class="completed"><%= i.due_date %></td>
          </tr>
        <% end %>
      </table>
    </div>

  <% end %>

</div>
